.dashboard {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px 1fr;

    .header {
        background-color: #fff;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

    .sidebar {
        background-color: #1c1f23;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .main {
        background: #c3c5ca;
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .card {
        background: #f6f7f9;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
}
