.dashboard {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px 1fr;

    .header {
        background-color: #fff;
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

    .sidebar {
        background-color: #1c1f23;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        padding: 20px;

        nav {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        padding: 10px 20px;
                        border-radius: 5px;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: #333;
                        }
                    }
                }
            }
        }
    }

    .main {
        background: #c3c5ca;
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}
