.myOrders{
  display: flex;
  justify-content: center;

  .container{
    width: 80%;
    padding: 50px 0;
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span{
      &.green-span{
      background-color: #9ae6b4;
      }
      &.gray-span{
        background-color: #d4d4d4;
      }
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      letter-spacing: 0.025em;
      border: 1px solid #cbd5e0;
      color: #4a5568;
      border-radius: 9999px;
      display: inline-flex;
      align-items: center;
    }

    button{
      &.red-btn{
      background: #fb3333;
    }
      &.green-btn{
        background: #0e7832;
      }
      &.complete{
        background: #3c34b5;
      }
      color: white;
      font-weight: 500;
      border: none;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }

    table{
      width: 100%;
      tr{
        th{
          text-align: left;
        }
        height: 50px;
        td{
          .img{
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .delete{
            width: 20px;
            cursor: pointer;
            background-color: transparent;
          }
        }
        &:nth-child(even){
          background-color: rgba(14, 74, 46, 0.06);
        }
      }

    }
  }
}

//.custom-button {
//  margin-bottom: 0.5rem;
//  background-color: #9ae6b4;
//  padding: 0.5rem 1rem;
//  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
//  letter-spacing: 0.025em;
//  border: 1px solid #cbd5e0;
//  color: #4a5568;
//  border-radius: 9999px;
//  display: inline-flex;
//  align-items: center;
//}
//
//.custom-button > * + * {
//  margin-left: 0.5rem;
//}